body {
    background-color: cornsilk;
}

#hwTitle {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    text-align: center;
    color: #9e3c03;
}
h1, h2, h3{
    color: #9e3c03;
    font-family: Raleway, Arial, Helvetica, sans-serif;
}

.school {
    text-align: center;
}

.assignments {
    padding-left: 30%;
    padding-top: 30px;
}

.solns {
    padding-left: 10px;
}

p {
    text-align: center;
}

@media (min-width: 760px) {
    .work {
        padding-left: 30%;
        float: center;
    }
}

.center-eqn {
    padding-right: 50%;
    color: black;
}

.hint {
    color: rgb(255, 89, 0);
    font-style: italic;
}

.hint-eqn {
    color: rgb(255, 102, 0);
    padding-right: 50%;
}

.btext {
    color: black;
}

.soln {
    color: #450e9e;
    text-align: center;
}

.solntext {
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: normal;
}

.solntext-center {
    color: rgb(40, 4, 159);
    padding-right: 50%;
}
