body {
    background-color: rgb(253, 253, 211);
}

#hwTitle {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.school {
    text-align: center;
}

p {
    text-align: center;
}

@media (min-width: 760px) {
    .work {
        padding-left: 30%;
        float: center;
    }
}

.center-eqn {
    padding-right: 50%;
    color: black;
}

.hint {
    color: blue;
    font-style: italic;
}

.hint-eqn {
    color: blue;
    padding-right: 50%;
}

.btext {
    color: black;
}

.soln {
    color: rgb(158, 0, 255);
    text-align: center;
}

.solntext {
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
}

.solntext-center {
    color: rgb(158, 0, 255);
    padding-right: 50%;
}
