body {
    background-color: rgb(253, 253, 211);
}

#hwTitle {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.school {
    text-align: center;
}


@media only screen and (min-width: 768px){
.work {
    padding-left: 30%;
    float: center;
}
}

.center-eqn {
    padding-right: 50%;
    color: black;
}

.hint {
    color: blue;
    font-style: italics;
}

.hint-eqn {
    color: blue;
    padding-right: 50%;
}

.btext {
    color: black;
}
